### 1.In the below elements which of them are values or an expression? eg:- values can beinteger or string and expressions will be mathematical operators.

 1. "*" :Expression
 2. hello : Value
 3. -87.8 : Value
 4. "-" : Expression
 5. "/" : Expression
 6. "+" : Expression

### 2.What is difference between string and variable?

String is define with double comma or single comma it can be any value number,sentence or anyting .
variable is used to store the data like integer, string, float, list, tupple etc. We can not decalare variable with white space or starting with capital letter. There is some rule to define variable.

### 3.Describe three different data types.

- Numeric : Integer, float
- Sequence Type : list , touple
- Boolean : bool
- String : str

### 4.What is an expression made up of? What do all expressions do?

In [4]:
# 1.Constant Expressions: These are the expressions that have constant values only. 
x = 15 + 1.3
x

16.3

In [18]:
# 2.Arithmetic Expressions: An arithmetic expression is a combination of numeric values, operators, and sometimes parenthesis. 
x,y = 2, 4 
add = x + y 
sub = x - y 
pro = x * y 
div = x / y
print(f"""Sum :{add}
Substraction:{sub}
Multiplication:{pro}
Division:{div}""")

Sum :6
Substraction:-2
Multiplication:8
Division:0.5

In [19]:
# 3.Integral Expressions: These are the kind of expressions that produce only integer results after all computations and type conversions.
a = 13 
b = 12.0 
c = a + int(b)
print(c)

25

In [20]:
# 4.Floating Expressions: These are the kind of expressions which produce floating point numbers as result after all computations and type conversions. 
a = 13 
b = 5 
c = a / b
print(c)

2.6

In [22]:
# 5.Relational Expressions: In these types of expressions, arithmetic expressions are written on both sides of relational operator (> , < , >= , <=). 
a = 21 
b = 13 
c = 40 
d = 37 
p = (a + b) >= (c - d)
p

True

In [23]:
# 6.Logical Expressions: These are kinds of expressions that result in either True or False.
P = (10 == 9) 
Q = (7 > 5) 
R = P and Q 
S = P or Q 
T = not P
print(R,S,T)

False True True

In [24]:
# 7. Bitwise Expressions: These are the kind of expressions in which computations are performed at bit level.
a = 12
  
x = a >> 2
y = a << 1
  
print(x, y)

3 24

In [25]:
# 8. Combinational Expressions: We can also use different types of expressions in a single expression, and that will be termed as combinational expressions.
a = 16
b = 12
  
c = a + (b >> 1)
print(c)

22

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

- Expression:An expression is a combination of values, variables, operators, and function calls that can be evaluated to produce a result
- Statement: A statement is a unit of code that performs an action or operation in Python. It represents a complete instruction that the Python interpreter can execute. Statements can be assignments, loops, conditionals, function definitions, imports, and more.
- expressions are used to produce values or results, whereas statements are used to perform actions or control the flow of the program

### 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [26]:
bacon = 22
bacon + 1

23

### 7. What should the values of the following two terms be?

In [27]:
'spam'+'spamspam'

'spamspamspam'

In [28]:
'spam'*3

'spamspamspam'

### 8.Why is eggs a valid variable name while 100 is invalid?

eggs is valid variable name because it cannot start with number and not have any alphanumeric value while 100 is number so it cannot consider.

### 9.What three functions can be used to get the integer, floating-point number, or string version of a value?

In [30]:
# Integer Conversion: int()
a = int(23.4)
a

23

In [31]:
# Floatng - point number : float()
float(a)

23.0

In [35]:
# String conversion : str()
b = str(235)
b

'235'

### 10. Why does this expression cause an error? How can you fix it?

In [36]:
"I have eaten" + 99 + "burritos"

TypeError: can only concatenate str (not "int") to str

In [39]:
"I have eaten " + str( 99) + " burritos"

'I have eaten 99 burritos'